   </div>
  </div>
 </div>
</div>

<div style="text-align:center; ">
 <img src="[%PLUGIN_PATH%]/img/logo-kohala.png" />
 <br/>
 &copy; [% c.metadata.copyright %]
 — Version [% c.metadata.version %]
</div>

[% INCLUDE 'intranet-bottom.inc' %]